body{
    margin: 0 400px;
    background-color: darkgrey;
}
.search{
    display: block;
    margin-top: 500px;
}
.search-form-input{
    width: 100%;
    height: 60px;
    background-color: aqua;
}

.search-form-button{
    position: absolute;
    top: 500px;
    right: 327px;
    width: 66px;
    height: 66px;
    background-image: url("https://toppng.com/uploads/preview/free-icons-png-instagram-search-icon-white-11562954322qzcobg6iwo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}